@model CartViewModel

<main class="main">
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title"><span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Catagori">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a asp-controller="Cart" asp-action="Index">Shopping Cart</a>
        </li>
      </ol>
    </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content" style="color:#000f">
    <div class="cart">
      <div class="container">
        <div class="row">
          <aside class="col-lg-8 mt-5">
            <div class="table-responsive">
              <table class="table table-cart table-mobile align-middle">
                <thead class="align-middle">
                  <tr class="text-center align-middle">
                    <th style="vertical-align: middle;">Sản phẩm</th>
                    @*<th>Size</th>*@
                    <th style="vertical-align: middle;">Đơn giá</th>
                    @*<th class="col-2">Số lượng</th>*@
                    <th style="vertical-align: middle;">Số tiền</th>
                    <th style="vertical-align: middle;"></th>
                  </tr>
                </thead>
                <tbody>
                  @foreach (var item in Model.listCart)
                  {
                    <tr style="box-shadow: 4px 2px 14px rgba(0, 0, 0, 0.2)" class="text-center">
                      <td style="max-height: 30px; max-width: 30%; overflow: hidden" class="product-col text-left">
                        <div class="product d-flex flex-column">
                          @*<figure class="product-media">*@
                          <a asp-controller="Home" asp-action="Product_Details"
                             asp-route-productId="@item.Product.IdProduct">
                            <img src="@item.Product.ImageUrl" alt="Product image" style="width: 60px; height: 60px;">
                          </a>
                          @*</figure>*@

                          <a asp-action="Product_Details" asp-route-productId="@item.Product.IdProduct">
                            <p style="display: block;
                                      flex-wrap: wrap;
                                      font-size: 14px;
                                      color: rgba(0, 0, 0, .87);
                                      text-overflow: ellipsis;
                                      word-break: break-all;
                                      -webkit-box-orient: vertical;
                                      -webkit-line-clamp: 2;"
                               class="product-title m-0">
                              @item.Product.Name
                            </p>
                          </a>
                          <span style="color: #ee4d2d;">Size: @item.Size</span>

                        </div>
                      </td>

                      @*<td class="total-col">@item.Size</td>*@

                      <td class="price-col">
                        <div class="d-flex flex-column align-items-center justify-content-evenly">
                          <div style="font-size: 14px; margin-bottom: 10px;">
                            @String.Format("{0:0,0}", @item.Product.Price)
                            <span> &#8363;</span>
                          </div>
                          <div class="cart-product-quantity">
                            <div class="input-group input-spinner">
                              <div class="input-group-prepend">
                                <a asp-action="Giam" asp-route-cartId="@item.Id"
                                   class="quantity-control decrement btn-primary text-center d-flex align-items-center justify-content-center"
                                   style="min-width: 26px">-</a>
                              </div>

                              <input type="text" class="form-control quantity-input" value="@item.Quantity" min="1" max="10" step="1" data-decimals="0" required>

                              <div class="input-group-prepend flex-center">
                                <a asp-action="Tang" asp-route-cartId="@item.Id"
                                   class="quantity-control increment btn-primary text-center d-flex align-items-center justify-content-center"
                                   style="min-width: 26px;">+</a>
                              </div>
                            </div>
                          </div>
                        </div>

                      </td>
                      @*<td class="quantity-col" style="max-width: 40px">
                          <div class="cart-product-quantity">
                            <div class="input-group input-spinner">
                              <div class="input-group-prepend">
                                <a asp-action="Giam" asp-route-cartId="@item.Id"
                                   class="quantity-control decrement btn-secondary text-center d-flex align-items-center justify-content-center"
                                   style="min-width: 26px">-</a>
                              </div>

                              <input type="text" class="form-control quantity-input" value="@item.Quantity" min="1" max="10"
                                     step="1" data-decimals="0" required>

                              <div class="input-group-prepend flex-center">
                                <a asp-action="Tang" asp-route-cartId="@item.Id"
                                   class="quantity-control increment btn-secondary text-center d-flex align-items-center justify-content-center"
                                   style="min-width: 26px;">+</a>
                              </div>
                            </div>
                          </div>
                        </td>*@
                      <td style="color: #ee4d2d;" class="total-col">&#8363;@String.Format("{0:0,0}", @item.Product.Price * @item.Quantity)</td>
                      <td>
                        <div style="display:flex; align-items:center; justify-content:center; width: 40px; height: 40px; border-radius: 10%; background-color: blue;">
                          <a asp-action="DeleteProduct" asp-route-cartId="@item.Id">
                            <i class="fa-solid fa-xmark"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>

            <div class="cart-bottom">
              <div class="cart-discount">
                <form action="#">
                  <div class="input-group align-items-center" style="height: 50px;">
                    <input type="text" class="form-control h-100" required placeholder="coupon code"
                           title="Nhập mã giảm giá">
                    <div class="input-group-append h-100">
                      <button class="btn btn-outline-primary" style="padding: 0 20px" type="submit">
                        <i class="fa-solid fa-arrow-right"></i>
                      </button>
                    </div><!-- .End .input-group-append -->
                  </div><!-- End .input-group -->
                </form>
              </div><!-- End .cart-discount -->
              @*<a href="#" class="btn btn-outline-dark mt-4"><span>UPDATE CART</span><i class="icon-refresh"></i></a>*@
            </div><!-- End .cart-bottom -->
          </aside><!-- End .col-lg-9 -->
          <aside class="col-lg-4 mt-5">
            <hr />
            <div class="summary summary-cart" style="font-size: 16px">
              <h3 class="summary-title">Thanh toán</h3><!-- End .summary-title -->

              <table class="table table-summary">
                <tbody>
                  <tr class="summary-subtotal">
                    <td>Subtotal:</td>
                    <td>@String.Format("{0:0,0}", @ViewBag.SubTotal) đ</td>
                  </tr><!-- End .summary-subtotal -->
                  <tr class="summary-shipping">
                    <td>Shipping:</td>
                    <td>&nbsp;</td>
                  </tr>

                  <tr class="summary-shipping-row">
                    <td>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                        <label class="custom-control-label" for="free-shipping">Phí giao hàng</label>
                      </div><!-- End .custom-control -->
                    </td>
                    <td>@String.Format("{0:0,0}", 32000) đ</td>
                  </tr><!-- End .summary-shipping-row -->
                  <!--<tr class="summary-shipping-row">-->
                  <!--<td>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                      <label class="custom-control-label" for="standart-shipping">Standart:</label>
                    </div>-->
                  <!-- End .custom-control -->
                  <!--</td>
                    <td>0.00 đ</td>
                  </tr>-->
                  <!-- End .summary-shipping-row -->
                  <!--<tr class="summary-shipping-row">
                    <td>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                        <label class="custom-control-label" for="express-shipping">Express:</label>
                      </div>-->
                  <!-- End .custom-control -->
                  <!--</td>
                    <td>0.00 đ</td>
                  </tr>-->
                  <!-- End .summary-shipping-row -->
                  <!--<tr class="summary-shipping-estimate">
                    <td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
                    <td>&nbsp;</td>
                  </tr>-->
                  <!-- End .summary-shipping-estimate -->

                  <tr class="summary-total">
                    <td>Thành tiền:</td>
                    <td style="color: red; font-weight: 600;">@String.Format("{0:0,0}", Model.HoaDon.TotalPrice) đ</td>
                  </tr><!-- End .summary-total -->
                </tbody>
              </table><!-- End .table table-summary -->

              <a asp-controller="Cart" asp-action="ThanhToan" class="btn btn-outline-primary btn-order btn-block mb-3" style="padding: 24px 20px;">
                <span style="font-size: 16px;">PROCEED TO CHECKOUT</span>
              </a>
            </div><!-- End .summary -->

            <a asp-controller="Home" asp-action="Catagori" class="btn btn-outline-dark btn-block mb-3"
               style="padding: 24px 20px;">
              <span style="font-size: 16px;">CONTINUE SHOPPING</span>
            </a>
          </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .cart -->
  </div><!-- End .page-content -->
</main><!-- End .main -->