@model List<ChiTietHoaDon>

@{
  Layout = "";
  Pager pager = new Pager();
  int pageNo = 0;
  if (ViewBag.Pager != null)
  {
    pager = ViewBag.Pager;
    pageNo = pager.CurentPage;
  }
}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="~/assets_admin/images/logos/favicon.png" />
  <link rel="stylesheet" href="~/assets_admin/css/styles.min.css" />
  <style>
    body {
      min-height: 100vh;
      background-color: #FFE53B;
      background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 100%);
    }

    .container-card {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  </style>
</head>

<body>
  @*Body Wrapper*@
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
       data-sidebar-position="fixed" data-header-position="fixed">
    @*Sidebar Start*@
    <aside class="left-sidebar">
      @*Sidebar scroll*@
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-center">
          <a asp-controller="Admin" asp-action="Dashboard" class="text-nowrap logo-img d-flex align-items-center justify-content-between">
            <img src="~/assets_admin/images/logos/favicon.png" alt="" />
            <div class="text-black" style="font-size: 1.5rem; margin-left: 1rem; font-weight: 700; color: rgba(93, 135, 255, 0.85) !important;">Admin</div>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        @*Sidebar navigation*@
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="Admin" asp-action="Dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">SẢN PHẨM</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="Admin" asp-action="AdminProducts" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Trang sản phẩm</span>
              </a>
            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">TÀI KHOẢN</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="Admin" asp-action="UserAccount" aria-expanded="false">
                <span>
                  <i class="ti ti-user-circle"></i>
                </span>
                <span class="hide-menu">Quản lý tài khoản người dùng</span>
              </a>
            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Đơn hàng</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="DonHang" asp-action="Index" aria-expanded="false">
                <span>
                  <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">Quản lý đơn hàng</span>
              </a>
            </li>

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Loại sản phẩm</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="DonHang" asp-action="LoaiHang" aria-expanded="false">
                <span>
                  <i class="ti ti-clothes-rack"></i>
                </span>
                <span class="hide-menu">Quản lý loại hàng</span>
              </a>
            </li>
          </ul>
        </nav>
        @*End Sidebar navigation*@
      </div>
      @*End Sidebar scroll*@
    </aside>
    @*Sidebar End
      Main wrapper*@
    <div class="body-wrapper">
      <div class="container mt-5">
        <h2 class="mb-4">Chi tiết đơn hàng</h2>

        <div class="card">
          <div class="card-header">
            Thông tin đơn hàng
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>IdUser</th>
                  <th>Hóa đơn Id</th>
                  <th>Id Sản phẩm</th>
                  <th>Tên khách hàng</th>
                  <th>Số lượng</th>
                  <th>Ngày dặt hàng</th>
                  <th>Trạng thái đơn hàng</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in @Model)
                {
                  <tr>
                    <td></td>
                    <td>@item.HoaDon.ApplicationUserId</td>
                    <td>@item.HoaDonId</td>
                    <td>@item.ProductId</td>
                    <td>@item.HoaDon.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.HoaDon.OrderDate</td>
                    <td>@item.HoaDon.OrderStatus</td>
                  </tr>
                }
              </tbody>
            </table>

            <!-- Tổng tiền -->
            <div class="mt-3">
              @*<h5>Tổng tiền: @Model.TotalAmount</h5>*@
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="~/assets_admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets_admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets_admin/js/sidebarmenu.js"></script>
    <script src="~/assets_admin/js/app.min.js"></script>
    <script src="~/assets_admin/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/assets_admin/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/assets_admin/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>